.body {
    max-width: 500px;
}

.matrix__wrapper{
    text-align: center;
    margin: 10 0 0 0;
    display: none;
}

.matrix__wrapper-text {
    margin: 0;
}

.matrix__wrapper-date {
    margin: 10px 0 10px 0;
    font-size: 20px;
}
.square__wrapper{
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}
.square {
    display: grid;
    gap:2px;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3, 120px);
    grid-template-areas:
    "one four seven"
    "two five eight"
    "three six nine"
}

.sqare__item {
    height: 100px;
}

.box-1 {
    grid-area:one;
}

.box-2 {
    grid-area:two;
}
.box-3 {
    grid-area:three;
}
.box-4 {
    grid-area:four;
}
.box-5 {
    grid-area:five;
}
.box-6 {
    grid-area:six;
}
.box-7 {
    grid-area:seven;
}
.box-8 {
    grid-area:eight;
}
.box-9 {
    grid-area:nine;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7,
.box-8,
.box-9 {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.box__paragraf {
    font-size: 15px;
}

.function__wrp {
    display: block;
}

.function {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.function__input-day{
    width: 50px;
    margin: 0 0 0 3px;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
}

.function__input-month {
    width: 60px;
    margin: 0 0 0 3px;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
}

.function__input-year {
    width: 90px;
    height: 40px;
    margin: 0 0 0 3px;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn__wrp {
    display: flex;
    justify-content: center;
}

.function__button-f {
    margin: 0 0 0 5px;
    background-color: #fe8c8c;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 0 10px 0;
}

.function__number {
    font-size: 20px;
    font-size: 20px;
    margin: 5px 0 0 0;
}

.birthday__date {
    text-align: center;
    font-size: 20px;
}

.additional__number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional__number-text {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: none;
}



.header {
    width: 100%;
    min-height: 30px;
    border: 1px solid black;
}

.zhmyak__wrp {
    padding: 10px 10px;
}

.zhmyak {
    width: 100px;
    height: 30px;
}

.zhmyak__alt-off {
    display: none;
}

.burgermenu {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.burgermenu__link {
    padding: 5px 0 5px 0;
    display: block;
    text-align: center;
    color: black;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;

}

.burburger__menu-off {
display: none;
}

.bur__list {
    display: flex;
    flex-direction: column;
}

.svg__color {
    fill: black;
}




